/* New Survey Design */

.choicetable-maintext {
    display: block;
    margin-bottom: 0px !important;
}

table.choicetable td,
.custominput input {
    border-radius: 5px;
    border-color: #999;
}

.custominput input {
    margin-left: 20px;
}

/* More space between the text of the question and the choices. */
dt.question,
.custominput input {
    margin-top: 20px !important;
}

/* More space between the text of the question and the choices. */
dt.question:first-of-type {
    margin-top: 20px !important;
}

table.choicetable td.choicetable-left, 
table.choicetable td.choicetable-right {
    width: 200px !important;
    font-weight: bold !important;
}

table.choicetable td {
    font-weight: normal;
    padding-left: 10px;
}

/* Speaces between choices in tables */
table.choicetable {
    border-collapse: separate;
    border-spacing: 20px
}

/* Speaces between choices in tables */
table.choicetablegroup {
    text-align: center !important;
    border-collapse: separate;
    border-spacing: 5px 12px !important;
}

table.choicetable-vertical td {
    text-align: left !important;
}

.custominputgroup .custominput-maintext {
    margin: 20px 0 0 20px !important;
}

.errbox {
    margin-left: 20px;
}
